body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-style: italic;
    background: #14bdac;
}

h1{
    color: #FFF;
}

#menu {
    display: inline;
    /*display: none;*/
}

#menu table {
    margin-top: 100px;
}

img {
    width: 300px;
    height: 300px;
}

input {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    align-items: center;
}

#stage {
    margin-top: 50px;
    text-align: center;
    display: none;
}

#stage td {
    width: 150px;
    height: 150px;
}

.game {
    display: inline-block;

}

.brd-bottom {
    border-bottom: 5px groove #0da192;
}

.brd-right {
    border-right: 5px groove #0da192;
}

#play {
    cursor: pointer;
}

.check {
    background-repeat: no-repeat;
    background-size: contain;
}

#btn_restart {
    cursor: pointer;
    display: none;
    text-align: center;
}